// Black & White Shades
$black: #000000;
$grey: #999999;
$liteGrey: #d6d6d6;
$white: #ffffff;


// States
$success: #72c02c;
$info: #2284c6;
$warning: orange;
$fail: #ed5565;
$disabled: $grey;


// Text
$liteText: $white;
$disabledText: $disabled;
$link: #337ab7;

